<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
      <div ngbAccordion class="shadow" >
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Work Experience</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div style="text-align: left;">
                            <h2 class="mb-0">Software Enginner</h2>
                            <h3 class="text-primary">UMA Techonologies Company</h3>
                            <ul>
                              <li>Conception et exécution de projet par le biais de l’analyse institutionnelle.</li>
                              <li>Poursuivre la mise en place de processus rationalisés et efficaces.</li>
                              <li>Participer à la préparation et à la rédaction des cahiers des charges.</li>
                              <li>Mise en place des tests de performance, et des tests fonctionnels.</li>
                              <li>Déploiement des projets.</li>
                              <li>Prise en charge de la maintenance corrective des fonctionnalités.</li>
                              <li>Analyses des incidents prod et résolution des bugs dans le cas échéant.</li>
                              <li>Technologies: PHP, Laravel, JavaScript, Livewire, TailwindCSS, Json, jQuery, MySQL, UML</li>
                            </ul>
                        </div>
                        <hr>
                        <div style="text-align: left;">
                          <h2 class="mb-0">Software Enginner</h2>
                          <h3 class="text-primary">Delta Solution</h3>
                          <ul>
                            <li>Réalisation / Tâches</li>
                            <li>Modélisation et planification préopératoire.</li>
                            <li>Conception, collecte et analyse des données</li>
                            <li>Mise en œuvre, Développement informatique et intégration</li>
                            <li>établissement des rapports et suivi.</li>
                            <li>Rédaction des textes.</li>
                          </ul>
                      </div>
                      <!-- <hr>
                      <div style="text-align: left;">
                          <h2 class="mb-0">Software Enginner</h2>
                          <h3 class="text-primary">Workhouse</h3>
                          <ul>
                              <li></li>
                              <li></li>
                              <li></li>
                              <li></li>
                              <li></li>
                          </ul>
                    </div> -->
                    </ng-template>
                </div>
            </div>
        </div>

        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Education</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                    <div style="text-align: left;">
                      <h2 class="mb-0">Bacheler's of Science in Mathematics and Computer Science</h2>
                      <h3 class="text-primary">IBN TOFAIL University</h3>
                      <ul>
                        <li>Graduated from Ibn Tofail University in May 2019</li>
                        <li>Speciality: Mathematics and Computer Science</li>
                        <li>University degree</li>
                      </ul>
                    </div>
                </ng-template>
              </div>
            </div>
        </div>

        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Certifications</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                    <div style="text-align: left;">
                      <h2 class="mb-0">Higher Technician Certificate</h2>
                      <h3 class="text-primary">IBN SINA High School</h3>
                      <ul>
                        <li>Obtained August 2018</li>
                        <li>Speciality: Development of Information Systems</li>
                      </ul>
                      <h2 class="mb-0">Office of Professional Training and of Work Experience</h2>
                      <h3 class="text-primary">Hay Chmaou ISTA</h3>
                      <ul>
                        <li>2016</li>
                        <li>Speciality: Technical Software Development</li>
                      </ul>
                    </div>
                </ng-template>
              </div>
            </div>
        </div>

        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Skills</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                    <div class="row" style="text-align: left;">
                        <div class="col">
                          <h3>Programming Languages:</h3>
                          <ul>
                            <li>HTML/CSS</li>
                            <li>PHP</li>
                            <li>C#</li>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>Python</li>
                            <li>Java</li>
                          </ul>
                        </div>

                        <div class="col">
                          <h3>Frameworks:</h3>
                          <ul>
                            <li>Angular</li>
                            <li>Laravel</li>
                            <li>Livewire</li>
                            <li>ReactJS</li>
                            <li>VueJS</li>
                            <li>ASP.NET</li>
                            <li>Node.JS</li>
                          </ul>
                        </div>

                        <div class="col">
                          <h3>Other Skills:</h3>
                          <ul>
                            <li>Source Control via Git</li>
                            <li>MVC Architecture</li>
                            <li>Agile Development</li>
                            <li>OOP</li>
                          </ul>
                        </div>
                    </div>
                </ng-template>
              </div>
            </div>
        </div>
    </div>
    </div>
</div>
