<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1 card">
            <div class="text-center">
                <h2 class="">About Me</h2>
                <img src="assets/IMG_2166.JPG" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>
                  I am a Web Developer Full Stack, have more than three years of experience working on PHP Development.
                  I have used more advanced programming concepts such as MVC design patterns, object-oriented programming (OOP) architecture, PHP, JavaScript, CSS Framework  and many other things …
                </p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1 card">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{ featuredProject.name }}</h4>
            </div>

            <ngb-carousel>
                @for (picture of featuredProject.pictures; track picture) {
                    <ng-template ngbSlide><img src="{{ picture }}" alt="slide" style="display: block; width: 100%;"></ng-template>
                }
            </ngb-carousel>

            <p class="mt-t">{{ featuredProject.summary }}</p>
            <p>Visit the Portfolio section to learn more!</p>
        </div>
    </div>
</div>
